* {
    width: 100%;
    padding: 0%;
    margin: 0%;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;

    
}
.navbarRegister {
    display: flex;
    margin-top: -2%;


   
   
}

.titleRegister {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #faafe7;
 
}
#selectId{
    width: 70%;
}

.contentRegister {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    justify-content: center;
    position: relative;
   
 

}

.contentInput {
    display: flex;
    width: 60%;
    flex-direction: column;
    
    
}

.form {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;

}

.col {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
 
}


label {
    margin-top: 2%;
    margin-bottom: -0.5%;
}
.selectRegister{
    width: 55%;
    margin-left: 2%;
}


.InputRegister {
    display: flex;
    height: 40% !important;
    padding-left: 10%;
    margin-left: 10% !important;
 

}
.buttonRegister{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.buttonSubmit{
    display: flex;
    width: 60% !important;
    justify-content: center;
    text-align: center;
    margin-top: 4%;
    margin-bottom: -2%;

}

.errorMessage{
    display: flex;
    color: red;
    margin-top: 4%;
    justify-content: center;
}


@media (max-width: 768px) {
.contentRegister{
    display: flex;
    flex-direction: column;
   
    
}
.titleRegister{
    margin-top: 12%;
    margin-bottom: 5%;
}


    .col{
        display: flex;
        flex-direction: column
    }
 
    .selectRegister{
        margin-top: 5% !important;
        width: 100% !important;
        margin-left: -5%;
    }
    label{
        margin-top: 4%;
        margin-bottom: -4%;
    }

}
